<!--The content below is only a placeholder and can be replaced.-->
<div class="title-container">
  <h1>{{pageTitle}}</h1>
</div>
<div class="input-container">
  <input (keyup)="onInputChange($event)" placeholder="Write something" [value]="inputValue">
</div>
<div class="slider-container">
  <ng5-slider [(value)]="sliderValue" [options]="sliderOptions" (valueChange)="onSliderChange($event)"></ng5-slider>
</div>
<div class="output" class="output-container" [style.width]="getOutputWidth()">
  <p class="output-text-container" [style.font-size.px]="fontSize">{{inputValue}}</p>
</div>
<div class="actions-container">
  <button (click)="computeStyle()" class="primary">Compute style</button>
  <button (click)="reset()" class="danger">Reset</button>
</div>