<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{pageTitle}}
  </h1>
</div>
<div class="input-container">
  <input (keyup)="onInputChange($event)" placeholder="Write something" [value]="inputValue">
</div>
<ng5-slider [(value)]="sliderValue" [options]="sliderOptions" (valueChange)="onSliderChange($event)"></ng5-slider>
<div class="output" class="output-container" [style.width]="getOutputWidth()">
  <p class="output-text-container" [style.font-size.px]="fontSize">{{inputValue}}</p>
</div>
<button (click)="computeStyle()">Compute style</button>